@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* GENERAL STYLES */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  min-height: 100%;
}
body {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  color: #28292f;
}

a {
  text-decoration: none;
  color: #fff;
}

hr {
  border: 1px solid #fff;
}

ul {
  list-style-type: none;
}

.rain-bg {
  background: url(../images/weather_rain.jpg) center/cover no-repeat;
}

.container {
  margin: 0 auto;
  padding: 0 200px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.glass {
  border: 1px solid #727272;
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.18) 0.74%,
    rgba(255, 255, 255, 0.07) 100.18%
  );
  box-shadow: 0px 16.838px 33.677px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 48px 96px;
  margin-bottom: 80px;
}

/* SIDEBAR */

.sidebar-open {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  transition: all 0.3s linear;
}

.sidebar-close {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.sidebar {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  overflow-y: scroll;
  width: 30%;
  height: calc(100vh - 39px);
  padding: 40px;
  background-color: #242424;
  transform: translate(100%);
  transition: all 0.3s linear;
}

.show-sidebar {
  transform: translate(0);
}

.sidebar-title {
  margin: 48px 0 24px 0;
  color: #fff;
  font-size: 2rem;
}

.sidebar-city {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  padding: 24px;
  text-decoration: none;
  border-bottom: 1px solid #444040;
  transition: all 0.3s linear;
}

.sidebar-city:hover {
  font-size: 26px;
}

/* CITY INFO */

.city-info {
  width: 50%;
  margin-bottom: 120px;
}

.city-title {
  font-size: 100px;
  color: #fff;
  font-weight: 900;
}

.city-desc {
  margin-top: 40px;
  font-size: 24px;
  color: #fff;
  line-height: 150%;
}

.primary-cta {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 32px;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.7s linear;
}

.primary-cta:hover {
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.18) 0.74%,
    rgba(255, 255, 255, 0.07) 100.18%
  );
  box-shadow: 0px 16.838px 33.677px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
}

.secondary-cta {
  display: inline-flex;
  gap: 12px;
  font-size: 24px;
  font-weight: 600;
  margin-left: 40px;
  transition: all 0.1s linear;
}

.secondary-cta:hover {
  gap: 16px;
}

.actions {
  margin-top: 40px;
}

/* WEATHER INFO */

.weather-info {
  display: flex;
  height: fit-content;
  gap: 32px;
}

.weather-today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  padding: 50px 60px;
  border-radius: 40px;
  font-size: 32px;
}

.weather-days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-day {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #fff;
  padding: 16px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
}

.weather-day img {
  width: 24px;
  height: 24px;
}

/* FOOTER */

.side-weather-info {
  display: flex;
  margin-left: auto;
  margin-right: 96px;
  gap: 32px;
  width: fit-content;
  padding: 30px 40px;
  border-radius: 100px;
}

.side-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-info-title {
  display: flex;
  gap: 4px;
  color: #fff;
}

.side-info-value {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .main {
    flex-direction: column;
  }

  .container {
    padding: 0 96px;
  }

  .city-info {
    width: 100%;
    margin-bottom: 80px;
  }

  .weather-today {
    padding: 50px 60px;
    border-radius: 40px;
    font-size: 32px;
  }

  .weather-days {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .weather-day {
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 700;
  }

  .weather-day img {
    width: 24px;
    height: 24px;
  }

  .side-weather-info {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 1100px) {
  .city-title {
    font-size: 80px;
  }

  .sidebar {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .navbar {
    padding: 20px 32px;
    margin-bottom: 80px;
  }

  .container {
    padding: 32px;
  }

  .city-title {
    font-size: 48px;
  }

  .actions {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 99;
    background-color: #242424;
    padding: 32px 0;
    text-align: center;
  }

  .sidebar {
    width: 88%;
  }
}

@media screen and (max-width: 550px) {
  .city-title {
    font-size: 40px;
  }

  .city-desc {
    font-size: 20px;
  }

  .weather-info {
    flex-direction: column;
  }

  .weather-today {
    font-size: 24px;
  }

  .weather-days {
    gap: 16px;
  }

  .side-weather-info {
    gap: 12px;
  }

  .side-info-title {
    font-size: 14px;
  }

  .side-info-value {
    font-size: 20px;
  }

  .primary-cta {
    font-size: 20px;
  }

  .secondary-cta {
    font-size: 20px;
  }

  .sidebar {
    width: 84%;
  }
}
