@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* GENERAL STYLES */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #28292f;
}

.rain-bg {
  height: 100vh;
  background: url('/assets/images/weather_rain.jpg') center/cover no-repeat;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 48px 96px;
  margin-bottom: 120px;
}

.sidebar-open {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  transition: all 0.3s linear;
}

.sidebar-close {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.sidebar {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  padding: 40px;
  background-color: #242424;
  transform: translate(100%);
  transition: all 0.3s linear;
}

.show-sidebar {
  transform: translate(0);
}

.sidebar-title {
  margin: 48px 0 24px 0;
  color: #fff;
  font-size: 2rem;
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  padding: 24px;
  border-bottom: 1px solid #444040;
}

a {
  text-decoration: none;
  color: #fff;
}

hr {
  border: 1px solid #fff;
}

.container {
  margin: 0 auto;
  padding: 0 200px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-info {
  width: 50%;
}

.city-title {
  font-size: 120px;
  color: #fff;
  font-weight: 900;
}

.city-desc {
  margin-top: 40px;
  font-size: 24px;
  color: #fff;
  line-height: 150%;
}

.primary-cta {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 32px;
  font-size: 24px;
  font-weight: 600;
}

.secondary-cta {
  display: inline-flex;
  gap: 12px;
  font-size: 24px;
  font-weight: 600;
  margin-left: 40px;
}

.actions {
  margin-top: 40px;
}

.weather-info {
  display: flex;
  height: fit-content;
  gap: 32px;
}

.weather-today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  color: #fff;
  padding: 50px 60px;
  border: 1px solid #727272;
  border-radius: 40px;
  font-size: 32px;
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.18) 0.74%,
    rgba(255, 255, 255, 0.07) 100.18%
  );
  box-shadow: 0px 16.838px 33.677px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
}

.weather-days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-day {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  color: #fff;
  padding: 16px 20px;
  border: 1px solid #727272;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.18) 0.74%,
    rgba(255, 255, 255, 0.07) 100%
  );
  box-shadow: 0px 16px 33px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
}

.weather-day img {
  width: 24px;
  height: 24px;
}

.side-weather-info {
  display: flex;
  gap: 32px;
  width: fit-content;
  position: absolute;
  bottom: 48px;
  right: 96px;
  padding: 30px 40px;
  border: 1px solid #727272;
  border-radius: 100px;
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.18) 0.74%,
    rgba(255, 255, 255, 0.07) 100%
  );
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
}

.side-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-info-title {
  display: flex;
  gap: 4px;
  color: #fff;
}

.side-info-value {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
